.burger {
    position: relative;
    z-index: 1001;
    width: 50px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
}

.burger__wrapper {
    width: 20px;
    height: 15px;
    position: relative;
}

.burger__wrapper::before, .burger__wrapper::after, .burger__wrapper span {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: transform var(--transition-duration) var(--transition-function);
    top: 50%;
    left: 0;
    translate: 0 -50%;
}

.burger__wrapper::before {
    top: 0;
}

.burger__wrapper::after {
    top: 100%
}

.burger--open .burger__wrapper span {
    display: none;
}

.burger--open .burger__wrapper::before,
.burger--open .burger__wrapper::after {
    top: 50%;
    translate: 0 -50%;
    transform-origin: center center;
}

.burger--open .burger__wrapper::before {
    transform: rotate(45deg);
}

.burger--open .burger__wrapper::after {
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }
}