.card {
    text-align: left;
    padding: 24px;
    border-radius: var(--border-radius-xxl);
    border: 2px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card__image {
    overflow: hidden;
    border-radius: var(--border-radius-xl);
    filter: drop-shadow(5px 5px 10px, var(--primary-color));
    width: 0;
    height: 0;
    position: relative;
    padding-left: 100%;
    padding-top: 64.444%;
}

.card__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__description {
    font-size: 14px;
}

.card__cost {
    font-size: 24px;
    font-weight: 700;
}

.card__cost::before {
    content: "$";
}