.category {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category__item {
    position: relative;
    padding: 12px 23px;
}

.category__control {
    cursor: pointer;
    z-index: 1;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
}

.category__label {
    color: var(--primary-color);
    position: relative;
    z-index: 2;
    display: block;
    font-size: 10px;
}

.category__control:checked,
.category__control:hover{
    background-color: var(--primary-color);
}

.category__control:checked + .category__label,
.category__control:hover + .category__label {
    color: var(--text-color-second);
}