.dialog {
    padding-top: 128px;
    padding-inline: 15px;
    z-index: 1000;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: auto;

    transition: opacity var(--transition-duration-slow) var(--transition-function);
}

.dialog::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 128px;
    background: var(--bg-color);
    content: '';
}

.dialog--open {
    opacity: 1;
    visibility: visible;
}