.filter {
    overflow: hidden;
    position: relative;
    padding: 20px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius-xxl);
}

.filter__title {
    margin-bottom: 20px;
}

.filter::before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
}

.filter__form {
    text-align: left;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}