.nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px
}

.nav.vertical .nav__list {
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.nav.vertical .nav__link {
    font-weight: 400;
}

.nav__title:not(:last-child) {
    margin-bottom: 16px;
}

.nav__item {
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}

.nav__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
    translate: -100% 0;
    transition: translate 0.3s ease-in-out;
}

.nav__item:hover::after {
    translate: 0;
}

@media (max-width: 768px) {
    .nav:not(.vertical) {
        display: none;
    }
}