.rating {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.rating__stars {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.rating__star {
    --fill: 0%;
    width: 18px;
    height: 18px;
    background: linear-gradient(
            to right,
            #FB6514 var(--fill, 0%),
            var(--bg-color) var(--fill, 0%)
    );
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.rating__text {
    font-size: 14px;
}
