.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.about-us__text {
    text-align: left;
    font-family: var(--font-family-third);
    text-transform: uppercase;
    font-size: 18px;
    max-width: 530px;
    font-weight: 300;
    letter-spacing: 2px;
}

.about-us__images {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 400px;
}

.about-us__image {
    border: 1px solid var(--secondary-color);
    position: relative;
    width: 0;
    height: 0;
    padding-left: 100%;
    padding-top: 66.75%;
    overflow: hidden;
    border-radius: var(--border-radius-xxl);
}

.about-us__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .about-us {
        flex-direction: column;
        align-items: stretch;
    }

    .about-us__text,
    .about-us__images {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .about-us__text {
        font-size: 14px;
    }
}

