.contacts {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 100px;
}

.contacts__image {
    overflow: hidden;
    border-radius: var(--border-radius-xxl);
    border: 1px solid var(--secondary-color);
    position: relative;
    height: 0;
    padding-left: 100%;
    padding-top: 120%;
}

.contacts__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacts__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts__item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}

.contacts__item-image img {
    width: 24px;
    height: 24px;
}

.contacts__item-text {
    color: var(--primary-color);
    cursor: pointer;
}

.contacts__item-text:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .contacts {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}