.hero {
    width: 100%;
    height: 100vh;
    background:
            linear-gradient(
                    color-mix(in srgb, var(--bg-color) 50%, transparent),
                    color-mix(in srgb, var(--bg-color) 50%, transparent)
            ),
            url("/img/bg.jpg") no-repeat center center / cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}