.header {
    z-index: 1002;
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding-inline: 15px;
}

.header__container {
    overflow: hidden;
    position: relative;
    max-width: 800px;
    border: 3px solid var(--primary-color);
    border-radius: var(--border-radius-l);
    padding: 16px 32px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.header__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}